:root {
  --neutral-50: 241, 241, 242;
  --neutral-100: 225, 225, 227;
  --neutral-200: 214, 214, 218;
  --neutral-300: 177, 177, 185;
  --neutral-400: 147, 147, 159;
  --neutral-500: 120, 120, 135;
  --neutral-600: 98, 98, 106;
  --neutral-700: 75, 75, 78;
  --neutral-800: 56, 56, 56;
  --neutral-900: 32, 32, 32;
  --red-50: 249, 241, 240;
  --red-100: 241, 221, 220;
  --red-200: 236, 195, 192;
  --red-300: 233, 146, 140;
  --red-400: 227, 113, 105;
  --red-500: 216, 53, 42;
  --red-600: 184, 31, 20;
  --red-700: 153, 10, 0;
  --red-800: 102, 7, 0;
  --red-900: 61, 4, 0;
  --indigo-50: 241, 242, 248;
  --indigo-100: 224, 226, 240;
  --indigo-200: 188, 192, 225;
  --indigo-300: 143, 155, 214;
  --indigo-400: 109, 118, 197;
  --indigo-500: 80, 90, 175;
  --indigo-600: 41, 51, 155;
  --indigo-700: 32, 40, 121;
  --indigo-800: 7, 18, 91;
  --indigo-900: 11, 17, 50;
  --blue-50: 224, 241, 245;
  --blue-100: 215, 238, 244;
  --blue-200: 174, 222, 234;
  --blue-300: 135, 205, 222;
  --blue-400: 94, 190, 212;
  --blue-500: 51, 168, 204;
  --blue-600: 20, 140, 184;
  --blue-700: 8, 93, 145;
  --blue-800: 0, 53, 98;
  --blue-900: 0, 36, 71;
  --green-50: 231, 254, 248;
  --green-100: 206, 253, 239;
  --green-200: 163, 245, 219;
  --green-300: 140, 228, 200;
  --green-400: 102, 204, 170;
  --green-500: 64, 191, 149;
  --green-600: 41, 163, 122;
  --green-700: 31, 122, 92;
  --green-800: 10, 92, 65;
  --green-900: 5, 46, 32;
  --yellow-50: 255, 250, 229;
  --yellow-100: 255, 245, 204;
  --yellow-200: 255, 237, 163;
  --yellow-300: 255, 219, 117;
  --yellow-400: 255, 195, 56;
  --yellow-500: 254, 170, 1;
  --yellow-600: 204, 122, 0;
  --yellow-700: 153, 92, 0;
  --yellow-800: 102, 61, 0;
  --yellow-900: 51, 31;
}
